# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

################################### nodejs ########################################################

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

############################ Mongo #########################

/build
/src/mongo/db/modules
/.jsdbshell
/.cache
/.dbshell
/*.ninja
/*.ninja.*
/.ninja_deps
/.ninja_log
/perf.data
/perf.data.old
/massif.out.*
venv

*~
*.swp
*.o
*.os
*.obj
*.aps
*.ilk
*.tar.gz
*.suo
*.ncb
*.idb
*.obj
*.opt
*.pch
*.jsh
*.jsall
*.pyc
*.log
*.exe
*.exp
*.lib
*.idb
*.pdb
*.manifest
*.user
*.gch
*.*sdf
*.psess
*.tmp
*.eslintcache
*#
.#*

/src/mongo/*/*Debug*/
/src/mongo/*/*/*Debug*/
/src/mongo/*/*Release*/
/src/mongo/*/*/*Release*/
/src/ipch
/src/mongo/*/ipch
/src/mongo/*/*/ipch
/src/mongo/db/.gdb*
/src/mongo/db/makefile.local
/src/mongo/db/_ReSharper.db
/src/third_party/*/*.cache
/src/third_party/*/*.tlog
/src/third_party/*/*.lastbuildstate
/buildscripts/libdeps/graph_visualizer_web_stack/build
/buildscripts/libdeps/graph_visualizer_web_stack/node_modules
package-lock.json
libdeps.graphml
build-metrics.json
config.log
settings.py
log_config.py
/tags
TAGS

# temp dirs
dump
/log
logs
docs/html
docs/latex
docs/doxygen
32bit
scratch
/multiversion_binaries

# binaries
/docgen*
/loadgen*
/mongo*
/mongobridge*
/mongocryptd*
/mongod*
/mongoed*
/mongogrid*
/mongokerberos*
/mongoldap*
/mongoperf*
/mongos*
/mongoshim*
/mongosniff*
/mongotmock*
/mongotrafficreader*
/mqlrun*
/wt*

*.tgz
*.zip
*.tar.gz

#libs
/libmongoclient.*
/libmongotestfiles.*
/libmongoshellfiles.*
/sharedclient
/genny

/emr.jar
*.class

# examples
/firstExample
/secondExample
/whereExample
/bsondemo
/rsExample
/tutorial

#tests
/dbtest
/authTest
/perftest
/clientTest
/httpClientTest
/genny_results

# benchrun files
/benchrun_embedded

# Linters
.mypy_cache

#debian
build-stamp
configure-stamp
debian/mongodb

# OSX files
.DS_Store
._.DS_Store
*.fuse_*

# QtCreator
*.config
*.creator
*.creator.user
*.files
*.includes
*.orig

# Eclipse build artifacts
.cproject
.project
.pydevproject
.externalToolBuilders/
.settings/

# Idea CLion project artifacts
.idea
CMakeLists.txt

# XCode projects
.xcworkspace

# Visual Studio and VSCode projects
.vscode/
.vs/
/x64/

# VSCode JavaScript config files
**/jsconfig.json

# Windows MSI builder artifacts
*.msi
*.wixobj
*.wixpdb
DriverInclude.wxs

# Gradle
.gradle
src/mongo/embedded/java/build/
src/mongo/embedded/java/aar/build/
src/mongo/embedded/java/jar/build/
local.properties

# clangd language server
.clangd/

compile_commands.json
generated_resmoke_config
selected_tests_config

# Code review tool config
codereview.rc

# Python venvs and virtualenvs
python3-venv
python2-venv

# Generated resmoke configuration file
resmoke.ini

# UndoDB Recordings
*.undo

# Resmoke runtime configuration and trackers.
.resmoke_start_time.yml
.resmoke_mongo_version.yml
.resmoke_mongo_release_values.yml

# libfuzzer artifacts
default.profraw
/corpora
/corpora-merged

# Linter and formatter cache
.mypy_cache/

# RPM build temps
/distsrc.tar
/selinux/tmp
/dst
/rpmbuild
/repo
/rpm/tmp

# antithesis image building assets
/buildscripts/antithesis/base_images/mongo_binaries/dist-test
/buildscripts/antithesis/base_images/workload/src
/buildscripts/antithesis/base_images/workload/mongo
/buildscripts/resmokeconfig/suites/antithesis_*.yml

# generated by gen_all_feature_flag_list.py
all_feature_flags.txt
journal
diagnostic.data